{% extends 'main/base.html' %}
{% load static %}

{% block head_title %}
  Welcome | {{block.super}}
{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
  <div class="welcome">
    <div class="row">
      <div class="col-xs-8" style="padding-left:10px">
        <h2>Welcome</h2>
        <p>During the design of an fMRI experiment, many parameters have to be decided prior to any data collection.  Examples include: sample size, order of stimuli, timing of stimuli,... These parameters all have an effect on the outcome.  A good design will optimise the balance between the power and the cost of the study.  The results from a well planned design are more trustworthy and reproducible than any (pseudo-) random design.</p>
        <p>This website is a collection of small toolboxes to help design an fMRI study.  <span style="color: #8D181B"><b>NeuroPower</b></span> helps deciding on the sample size, while <span style="color: #8D181B"><b>NeuroDesign</b></span> finds optimal order and spacing of stimuli.</p>
        <p>Everything happens online, so there's no need to download or install anything.  Try it out now, or be sure to check back for our newest developments.</p>
          <br>
          <br>
          <span style="color: #8D181B"><p><b>Update Oct 11, 2020:</b></p>
          <p>The server is currently under maintenance.  Something went wrong, and it makes little sense to revive the latest online version.  Neuropower really needs a big update/rewrite.  We (actually me, this is still a 1 person project tbh) are working on an update.  This update has several goals:
          <ul>
              <li><u>More stability: </u>When I wrote this initially, I was a grad student, with little exposure to software engineering.  After a few years in the industry, it is clear that this app was not up to standard, resulting in buggy performance.  I want to revisit all the code in the app and streamline things to improve performance.</li>
              <li><u>Easier to contribute: </u>Over the years, I received a few PR's.  However, the interconnection between this app and the dependent libraries made it really hard for others to contribute.  I want to make it more <i>boilerplate</i> django with simple dependencies, so it's easier to jump in.</li>
              <li><u>Reduce features for stability: </u>Instead of working on stabilization, I kept adding cool features, and with each new feature new bugs.  The clearest example was running neurodesign optimizations on external on-demand servers.  That was overkill.  This update will include the disappearance of features, but hopefully in favor of increased stability.</li>
              <li><u>Dependencies: </u>There were a bit too many dependencies on external services, like the need for an external logger system, emailing, AWS database, AWS instances, queues.  These were supposed to make things easier, but in fact added an additional layer of maintenance.  Especially when some of the dependencies went out of service.  Not only that, but it makes it impossible for external contributers to easily start up the service locally.  The service that neuropower provides, can and should do with easier settings.</li></ul>
              So in short: the goal is to rebuild neuropower, more limited but more stable.  Hopefully the user will not be impacted.  I'm using <a href="https://hacktoberfest.digitalocean.com/">hacktoberfest</a> as an excuse and an external motivator to get things done this month.  An update will follow soon.
              For now, neuropower is still disabled but will be the first to come back, hopefully before the end of November.  Neurodesign will follow, but it's harder to make an estimate for that.  I apologize for the inconvenience.</p></span>
      </div>
      <div class="col-xs-4">
        <img style="padding-left:50px;width:70%;padding-top:70px" src={% static 'img/brain.png'%} />
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-md-6 infobox">
    <h3>NeuroPower</h3>
    <p class="infocontent">NeuroPower is a toolbox that allows you to compute the necessary sample size for your fMRI study to obtain a certain level of statistical power. Our method can be used for whole-brain analyses, as well as for region-of-interest analyses.  All you need is a statistical map and some information about the research. Try it here.</p>
    <p><a class="btn btn-default btn-lg" href="{% url 'neuropowerstart' %}" role="button">NeuroPower &raquo;</a></p>
  </div>
  <div class="col-md-6 infobox">
    <h3>NeuroDesign</h3>
    <p class="infocontent" style="padding-bottom:18px">NeuroDesign searches for an experimental design to help researchers obtain the optimal detection power or estimation effeciency.  The method is based on a Genetic Algorithm to optimize different optimisation goals.</p>
  </div>
</div>
{% endblock %}

{% block footer %}
<footer style="padding-left:30%;padding-right:30%; padding-bottom:30px">
    <div class = "row">
        <div class="col-xs-12">
          <br>
          <p><strong> Support for Neuropower kindly provided by:</strong></p>
        </div>
     </div>
     <div class = "row">
         <div class="col-xs-6">
             <a href="http://www.arnoldfoundation.org/"><img src={% static 'img/ljaf-logo.png'%} width=60%/></a>
         </div>
         <div class="col-xs-6" style="padding-top:30px">
             <a href="http://reproducibility.stanford.edu"><img src={% static 'img/CRN-logo.png'%} width=60%/></a>
         </div>
     </div>
 </footer>
 {% endblock %}
